body {
    height: 2000px;
    background-color: rgb(73, 73, 73)
}

/* Navbat */

.navbar {
    position: fixed;
    top: 10px;
    height: 11em;
    width: 45em;
    background: chocolate;
    border-radius: 100px;
}
.logo {
    margin: 20px;
    width: 10em;
}
.navlist {
    display: inline-block;
    padding: 1px;
    position: relative;
    top: -60px;
}
.navitem {
    display: inline-block;
    font-size: 1.3em;
    font-family:sans-serif;
    font-weight: bold; 
    margin: 5px;
}
a.navitem {
    text-decoration: none;
}
a.navitem:link {
    color: #ffffff;
}
a.navitem:active {
    color: #ffffff;
}
a.navitem:visited {
    color: #ffffff;
}
a.navitem:hover {
    color: #D8D000
}

/* Content */

h1.hero {
    margin: auto;
    margin-top: 3em;
    text-align: center;
    font-size: 72px;;
}